.app_hyperwave_theme {
    --bg-color: #711DB0;
    --inverted-bg-color: #8ee24f;
    --primary-color: #C21292;
    --secondary-color: #EF4040;
    --inverted-primary-color: #3ded6d;
    --inverted-secondary-color: #10bfbf;
}