.app_hyperwave_theme {
    --bg-color: #711DB0;
    --inverted-bg-color: #7ee731;
    --primary-color: #C21292;
    --secondary-color: #EF4040;
    --inverted-primary-color: #3ded6d;
    --inverted-secondary-color: #10bfbf;

    // skeleton
    --skeleton-color: #8d1ede;
    --skeleton-shadow: #550e88;

    // code
    --code-bg-color: #efe3e1;

}