.button {
    cursor: pointer;
    color: var(--inverted-primary-color);
    transition: all 0.3s linear;

    &:hover {
        opacity: 0.75;
        scale: 1.03;
    }

    &:disabled {
        cursor: initial;
        opacity: 0.75;
    }
}

.clear, .clearInverted {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.primary {
    background: var(--inverted-bg-color);
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color) ;
    background: none;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border:none;
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border:none;
}


.red {
    background-color: var(--error-color);
    color: white;
    border: 1px solid var(--error-color);
    padding: 10px 15px;
}

.square {
    padding: 0;
}

.square.size_s {
    height: var(--font-line-s);
    width: var(--font-line-s);
    font: var(--font-s);
}

.square.size_m {
    height: var(--font-line-m);
    width: var(--font-line-m);
    font: var(--font-m);
}

.square.size_l {
    height: var(--font-line-l);
    width: var(--font-line-l);
    font: var(--font-l);
}

.square.size_xl {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
    font: var(--font-xl);
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}