.appLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.danger {
    color: red;
}

.inverted_secondary {
    color: var(--inverted-secondary-color);
}

.inverted_primary {
    color: var(--inverted-primary-color);
}